<div class="row mt-80">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <% if post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="card my-4">            
            <h5 class="card-header"><%= page_title(@post)%></h5>
            <div class="card-body">
              <%= form_with(model: post, local: true) do |form| %>
                <span>Title</span>
                <div class="form-group">
                  <%= form.text_area :title, placeholder: "Title", required: :true, class: "form-control" %>
                </div>
                <span>description</span>
                <div class="form-group">
                  <%= form.text_area :description, placeholder: "description",  required: :true, class: "form-control" %>
                </div>
                <span>Upload Image</span>
                <div class="form-group">
                  <%= form.file_field :image %>
                </div>
                <%= form.submit "Publish", class: "btn btn-primary" %>
              <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div> 
</div>
