<div class="container-fluid mt-80">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-md-3 mb-20">
      <div class="card match-height" style="width: 20rem; ">
        <% if post.image.present? %>
        <%= image_tag post.image.url('thumb'.to_sym), class: "card-img-top images"  %>
        <% else %>
         <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
        <% end %>
        <div class="card-body">
          <span style="float: right;padding-left: 4px;">
            <%= image_tag('small_like.png') %>
            <%= post.get_upvotes.size %>
          </span>
          <span style="float: right;padding-left: 4px;"><%= image_tag 'small_dislike.png', class: "img-fluid" %><%= post.get_downvotes.size %></span>
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= truncate(post.description, length: 20) %></p>
          <%= link_to 'View', post, class: "btn btn-primary" %>

          <% if user_signed_in? && post.is_eligible_user(current_user) %>
            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %>
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>