<div class="container-fluid mt-80">
<p id="notice"><%= notice %></p>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-md-12">

        <!-- Title -->
        <h1 class="mt-4"><%= @post.title.titleize %></h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#"><%= @post.user.name.titleize %></a>
        </p>

        <hr>
        <!-- Date/Time -->
        <p>Posted on <%= date_format(@post.created_at) %></p>
        <hr>

        <!-- Preview Image -->
        <% if @post.image.present? %>
        <%= image_tag @post.image.url('extra_large'.to_sym), class: "img-fluid rounded" %>
        <% else %>
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
        <% end %>

        <hr>
        <!-- Post Content -->	
        <p class="lead"><%= @post.description %></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>

        <blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

        <hr>

        <!-- Comments Form -->
        
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <%= form_for [@post, @post.comments.new] do |form| %>
              <div class="form-group">
              	<%= form.text_area :boby, placeholder: "Add a comment", class: "form-control" %>
              </div>
              <%= form.submit class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>

        <!-- Single Comment -->
        <% @comments.each do |comment| %>
	        <% if comment. persisted? %>
		        <div class="media mb-4">
		          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
		          <div class="media-body">
		            <h5 class="mt-0"><%= comment.user.name %></h5>
		            <%= comment.boby %>		            
		          	<div><%= link_to "Reply", new_post_reply_path(@post, comment_id: comment), remote: :true %></div>
		        	<div id="comment_<%= comment.id %>"></div>
		          	 <!-- reply section -->
				      <% comment.replies.each do |reply| %>
			        	<div class="media mt-4">
			              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
			              <div class="media-body">
			                <h5 class="mt-0"><%= reply.user.name %></h5>
			                <%= reply.boby %><br>
			                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. 
			                <div><%= link_to "Reply", new_post_reply_path(@post, reply_to: reply.id), remote: :true %></div>
			                <div id="reply_to_<%= reply.id %>"></div>
			                 <!-- reply section -->
						      <% reply.nested_replys.each do |nes_reply| %>
					        	<div class="media mt-4">
					              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
					              <div class="media-body">
					                <h5 class="mt-0"><%= nes_reply.user.name %></h5>
					                <%= nes_reply.boby %><br>
					                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. 
					              </div>
					            </div>
							   <% end %>
				        	<!-- end reply section -->
			              </div>
			          </div>
					     <% end %>
		        	<!-- end reply section -->
		          </div>
		        </div>		      
	        <% end %>
        <% end %>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>


